{% extends 'base.html.twig' %}

{% block title %}Page de {{user.Firstname}} {{user.lastname}}{% endblock %}

{% block body %}
<div class="container">
	<div class="row align-items-center">
		

		<div class="col-3 text-center">
			
			<img src="{{user.picture}}" alt="avatar de {{user.Firstname}} {{user.lastname}}" class="avatar mb-3"><br>
			<span class="badge badge-primary">{{user.ads|length}} annonces</span>
		</div>
		<div class="col-9">
			<h1>{{user.Firstname}} {{ user.Lastname}}</h1>
			{% if user is same as(app.user) %}
			<div class="mt-3">
				<a href="{{path('account_profile')}}" class="btn btn-primary mr-2 mb-2">Modifier mes informations</a>
				<a href="{{path('account_password')}}" class="btn btn-primary mb-2">Modifier mon password</a>
			</div>
			{% endif %}


		</div>
	</div>
	{{user.Description|raw}} 	<hr>
	<h2>Les annonces de {{user.Firstname}} {{ user.Lastname}}</h2>
	{% if user.ads |length >0 %}
	<div class="row">
	{% for ad in user.ads %}
	{% set url=path('ads_show',{'slug':ad.slug}) %}

	<div class="col-md-4">
		<div class="card bg-light mb-3">
			<div class="card-header text-center">
				{{ad.rooms}} chambres <strong>{{ad.price}}&euro;/nuit</strong><br>
				<small>Pas encore noté</small>

			</div>
			<a href="{{url}}">
			<img src="{{ad.coverImage}}" alt="" style="height:200px;width:100%;display:block;">
			</a>
			<div class="card-body">
				
				<h4 class="card-title">
					
					<a href="{{url}}">{{ad.title}}</a>
				</h4>
				<p>{{ad.Introduction}}</p>
				<a href="{{url}}" class="btn btn-secondary">En savoir plus!</a>
				{% if app.user and app.user==ad.author %}
		<a href="{{path('ads_edit',{'slug':ad.slug})}}" class="btn btn-secondary">Modifier l'annonce</a>
		{% endif %}

			</div>
			
		</div>
	</div>
	{% endfor %}
</div >
	{% else %}
	<div class="alert alert-warning">
		<p>
			
		<strong>{{user.Firstname}}{{ user.lastname}} n'a pas encore d'annonces sur le site!</strong>	
		</p>

	</div>
	{% endif %}


</div>
{% endblock %}
